* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
::-webkit-scrollbar {
    cursor: pointer;
    width: 11px;
    
}

::-webkit-scrollbar-track{
       background-color: #b8d6ff;
}
::-webkit-scrollbar-thumb {
    background:linear-gradient(#ff2b2b, #f9fc4c);
    border-radius: 10px;
    cursor: pointer;
}

body {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 600px;
    height: 700px;
    margin-left: 550px;
    margin-top: 40px;
    background: linear-gradient(#b806ea,#2334ed);
    border-radius: 15px;
}

p {
    position: absolute;
    margin-top: 30px;
    margin-left: 230px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;

}

.inputs {
    margin-top: 100px;
    position: absolute;
}

input {
    display: block;
    margin-top: 10px;
    margin-left: 150px;
    width: 300px;
    height: 34px;
    border-radius: 8px;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 2px 2px rgb(59, 44, 15);
}
::placeholder {
    color: black;
}
input:hover {
    border: 3px solid rgb(45, 88, 231);
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons {
    margin-left: 120px;
    margin-top: 100px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(233, 150, 27);
    margin-left: 20px;
    cursor: pointer;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(20, 134, 234);
    box-shadow: 5px 5px 5px black;

}

button:hover {
    border: 2px solid rgb(235, 10, 10);
    background-color: rgb(99, 228, 25);
    box-shadow: 0px 0px 10px 5px blue, 0px 0px 5px black;

}

.gender {
    margin-left: 175px;
    margin-top: -20px;

}

.erkek {
    width: 20px;
    height: 20px;
    accent-color: rgb(9, 245, 229);
    position: absolute;
    left: -171px;
    top: -2.5px;
    cursor: pointer;
    box-shadow: none;
}
.kadin{
    width: 20px;
    height: 20px;
    accent-color: rgb(9, 245, 229);
    position: absolute;
    top: 10px;
    cursor: pointer;
    top: -3px;
    left: -172px;
    box-shadow: none;

}
.maleSpan {
    color: white;
    font-size: 25px;
    font-family:monospace;
    position: absolute;
    top: 320px;
    left: 195px;
}
.femaleSpan {
    color: white;
    font-size: 25px;
    font-family:monospace;
    position: absolute;
    top: 320px;
    left: 350px;
}
.alreadyhaveaccount {
    position: absolute;
    left:200px;
    color: white;
    margin-top: 50px;
    font-weight: 600;
    
}
a {
    color: orange;
    text-decoration-line: none;
    
}

